@CHARSET "UTF-8";

.button {
	background-color: white;
	color: #BC0E38;
	text-align: center;
}

input[type=submit] {
	height: 50px;
	width: 50px;
}
#equals {
	height: 100px;
	width: 50px;
}

table, th, td {
	border: 1px solid #BC0E38;
	border-radius: 6px;
	text-alignment: center;
}

th {
	height: 50px;
	width: 50px;
}

td {
	height: 50px;
	width: 50px;
}
