
.root {
	    -fx-background-color: 
        rgba(0.0,0.0,0.0,0.08),
        linear-gradient(#9a9a9a, #909090),
        linear-gradient(white 0.0%, #f3f3f3 50.0%, #ececec 51.0%, #f2f2f2 100.0%);
	}

.my-field {
	 -fx-background-color: #ecebe9,
        rgba(0.0,0.0,0.0,0.05),
        linear-gradient(#dcca8a, #c7a740),
        linear-gradient(#f9f2d6 0.0%, #f4e5bc 20.0%, #e6c75d 80.0%, #e2c045 100.0%),
        linear-gradient(#f6ebbe, #e6c34d);
    -fx-background-insets: 0.0,9.0 9.0 8.0 9.0,9.0,10.0,11.0;
    -fx-background-radius: 40.0;
	-fx-text-fill: black;
	-fx-pref-width: 350.0px;
	-fx-pref-height: 50.0px;
	-fx-alignment: center;
	
	}

.labels {
	-fx-font-family: "Helvetica";
    -fx-font-size: 17.0px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

.buttons {
	-fx-background-color: #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-insets: 0.0,1.0,2.0,3.0;
    -fx-background-radius: 3.0,2.0,2.0,2.0;
    -fx-padding: 10.0 25.0 10.0 25.0;
    -fx-font-family: "Helvetica";
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 16.0px;
}