/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


.root {
	-fx-background-color: #6699CC;
	}

.my-field {
	-fx-background-color: #FFFFCC;
	-fx-text-fill: blue;
	-fx-pref-width: 250px;
	-fx-pref-height: 35px;
	-fx-alignment: baseline-center;
}

.labels {
	-fx-font-family: sans-serif;
	-fx-font-size: 18  p;
	-fx-font-weight: normal;
}

.buttons {

}